
@{
    ViewBag.Title = "CommandeNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CommandeNotFound</h2><br />
<p>Nous sommes désolé mais il semblerait que vous n'ayez pas effectué de commande ! verifier que vous avez bien effectuer des commandes</p>

